<p>
	&nbsp;Alert :: You have a new internet booking!
</p>
<p>
	You just received a new online booking! Isn't it nice to be loved?
	<br />
	We have attached the booking information here for your convenience.
	<br />
	<br />
	Booking ID: {{ data.sku}}
	<br />
	Dated Created:&nbsp;
	<strong>
		 {{ data.created_at}}
	</strong>
	<br />
	Number of advertising spots :&nbsp;
	<strong>
		 1
	</strong>
</p>
<p>
	Advertising Spots&nbsp;
	<strong>
		<em>
			1
		</em>
	</strong>
	<br />
	<strong>
		____________________________________________________________
	</strong>
	<br />
	Company Name: {{data.advertiser.company}}
	<br />
	Company Email:
	<strong>
		<a href="#">
			{{data.advertiser.email}}
		</a>
	</strong>
	<br />
	Advertising Spot :
	<strong>
		{{data.publisher}} - {{data.name}}
	</strong>
	<br />
	Date and Time:
	<strong>
		{{data.category}}
	</strong>
	<br />
	Comments:
	<strong>
         :)
	</strong>
	<br />
	<br />
	<strong>
		____________________________________________________________
	</strong>
</p>
<p>
	<a href="{{data.creative}}" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q={{data.creative}}&amp;source=gmail&amp;ust=1524342069288000&amp;usg=AFQjCNHg_JUu7lviVMdu7UDoJAYIZPOcPQ">
		Follow this link to preview the advert
	</a>
</p>
<p>
	<a href="http://adspaces.co.zw/campaign" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://adspaces.co.zw/campaign&amp;source=gmail&amp;ust=1524342069288000&amp;usg=AFQjCNF5NIW5bfCwt2jJ24i2816QFRM49A">
		Follow this link to view the booking
	</a>
	&nbsp;
	<br />
	<br />
	Thank you,
	<br />
	Your Adspace System.
</p>
<p>
	<br />
	<strong>
		Adspace PVT Ltd.
	</strong>
	&nbsp;
	<br />
	<a href="http://www.adspaces.co.zw/" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.adspaces.co.zw&amp;source=gmail&amp;ust=1524342069288000&amp;usg=AFQjCNEQKovdApGtxoo8R3HxlcsAPM3qNw">
		www.adspaces.co.zw
	</a>
	<br />
	<strong>
		Adspaces software - leading edge strategies to increase&nbsp;Efficiency, Work Flow and Profitability&nbsp;designed specifically for Advertising companies based companies around the world.
	</strong>
     </p>

